.App {
    text-align: center;
    font: normal 700 1vw 'Roboto', sans-serif;
}

.App-header {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(5px + 2vmin);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

main {
    margin-top: 15vh;
}
